@import '/src/styles.scss';
.btn {
  width: 110px;
  color: $black;
  font-weight: 500;
  box-shadow: none;
  background-color: $light_orange;
  font-size: $h4-font-size;
  &.active,
  &:hover {
    background-color: $orange;
    color: $black;
    box-shadow: none;
  }

  @include media(xl) {
    width: 110px;
    @include media(lg) {
      width: 110px;
      @include media(md) {
        font-size: $h6-font-size;
        width: 90px;
        @include media(sm) {
          width: 90px;
          font-size: $h6-font-size;
        }
      }
    }
  }
}

.font-bold {
  font-weight: 900;
}
