@import '/src/styles.scss';
.btn {
  width: 110px;
  color: $black;
  font-weight: 500;
  box-shadow: none;
  background-color: $light_orange;
  font-size: $h4-font-size;
  &.active,
  &:hover {
    background-color: $orange;
    color: $black;
    box-shadow: none;
  }
}

.font-bold {
  font-weight: 900;
}
