@import '/src/styles.scss';

.text-pink2 {
  color: $pink2;
  font-weight: 900;
}

.card-layout {
  &.mb {
    margin-bottom: 3%;
  }
  margin-left: 1.5%;
  margin-right: 1.5%;
  position: relative;
  width: 100%;
  padding: 15px;

  border-radius: 5px;
  font-weight: 400;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  @include media(xl) {
    flex: 0 0 22%;
    max-width: 22%;
    @include media(lg) {
      flex: 0 0 22%;
      max-width: 22%;
      @include media(md) {
        flex: 0 0 47%;
        max-width: 47%;
        @include media(sm) {
          flex: 0 0 97%;
          max-width: 97%;
        }
      }
    }
  }
}

img {
  width: 100%;
}
.header {
  font-weight: 900;
}
